@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ================== VARIBALES CSS ================== */
:root {
  /* =============== Colors =============== */
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /* =============== Font and typography =============== */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/* ================== BASE ================== */
* {
  box-sizing: border-box;
  padding: 0;
}

body,
input,
button {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ================== Other ================== */

body {
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 21, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(230, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}


.instructions {
  font-size: 0.85rem;
  padding-inline: 1.25rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: whitesmoke;
  color: #000;
  position: relative;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offScreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

/* ================== AUTH ================== */
.auth {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.auth__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.auth__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.auth__title {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--white-color);
}

.auth__errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid red;
  border-radius: 2rem;
  margin-inline: 1.5rem;
  text-align: center;
}

.auth__errMsg svg {
  margin-right: 0.25rem;
}

.auth__inputs,
.auth__input__box {
  display: grid;
}

.auth__inputs {
  row-gap: 1.1rem;
  margin-bottom: 1rem;
}

.auth__input__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.auth__input,
.auth__button {
  border: none;
  outline: none;
}

.auth__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.auth__input::placeholder {
  color: var(--white-color);
}

.auth__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.auth__log__reg {
  font-size: var(--small-font-size);
  text-align: center;
}

.auth__log__reg a {
  color: var(--white-color);
  font-weight: 500;
}

.auth__log__reg a:hover {
  text-decoration: underline;
}

/* ================== LOGIN ================== */
.login__check,
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ================== BREAKPOINTS ================== */
/* For medium devices */
@media screen and (min-width: 576px) {
  .auth {
    justify-content: center;
  }

  .auth__form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .auth__title {
    margin-bottom: 2rem;
  }
}